# Virtual environments
.venv
venv/
venv

# Data directory (do not commit datasets)
data/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook checkpoints
.ipynb_checkpoints/

# OS clutter
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
